.mccorrection, .correction {
  background-color: #CCCCFF; /* #FFFFFF if corrections should not be highlighted */
  border-radius: 4px;
  padding-right: 4px;
  padding-left: 4px;
}

.normal code {
  padding: 0.2em 0 0.2em 0;  
}